PORT=3030

POSTGRES_HOST=localhost
POSTGRES_PORT=7201
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=1196
POSTGRES_DB=storedb
POSTGRES_SSL=false
POSTGRES_SYNCHRONIZE=true

READ_AUTH_USERNAME=
READ_AUTH_PASSWORD=

WRITE_AUTH_USERNAME=
WRITE_AUTH_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=''
